.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;

  @include mq(desktop) {
    margin-top: 80px;
  }

  &__link {

    a {
      @include textLink;
      font-size: var(--fw--base);
    }

  }
  
}