.btn,
html .wpforms-submit,
html div.wpforms-container-full button[type=submit] {
  align-self: flex-start;
  align-items: center;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-flex;
  font-size: var(--fs--base);
  font-weight: var(--fw--700);
  justify-content: center;  
  line-height: 1.2;  
  text-decoration: none;
  
  &:after {    
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    content: '';
    display: block;
    flex-shrink: 0;
    margin-left: 10px;
    height: 12px;
    width: 13px;
  }

}

html body div.wpforms-container-full button[type=submit].btn,
.btn--primary {
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-colour);
  height: 60px;
  letter-spacing: 1px;
  padding: 10px 30px;
  text-transform: uppercase;

  &:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' fill='none'%3E%3Cpath stroke='%23F7F9F9' stroke-linecap='square' stroke-width='2' d='m4.406 1.494 7.029.042m0 0 .042 7.029m-.042-7.03-9.9 9.9'/%3E%3C/svg%3E");
  }

  &:hover,
  &:active {
    background-color: var(--btn-primary-hover-bg);
    color: var(--btn-primary-hover-colour);
  }

}

html body div.wpforms-container-full button[type=submit]:active,
html body div.wpforms-container-full button[type=submit]:hover {
  background-color: var(--btn-primary-hover-bg) !important;
  color: var(--btn-primary-hover-colour) !important;
}

html body div.wpforms-container-full button[type=submit]:focus:after {
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' fill='none'%3E%3Cpath stroke='%23F7F9F9' stroke-linecap='square' stroke-width='2' d='m4.406 1.494 7.029.042m0 0 .042 7.029m-.042-7.03-9.9 9.9'/%3E%3C/svg%3E");

  // background-repeat: no-repeat;
  // background-position: 0 0;
  // background-size: cover;
  // content: '';
  // display: block;
  // flex-shrink: 0;
  // margin-left: 10px;    
  // height: 12px;
  // width: 13px;
  
  border: none;
  border-radius: 0;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
    
}


.btn--secondary {
  color: var(--btn-secondary-colour);

  &:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' fill='none'%3E%3Cpath stroke='%23EE2F2F' stroke-linecap='square' stroke-width='2' d='m4.406 1.494 7.029.042m0 0 .042 7.029m-.042-7.03-9.9 9.9'/%3E%3C/svg%3E");
  }  

  &:hover,
  &:active {
    color: var(--btn-secondary-hover-colour);

    &:after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' fill='none'%3E%3Cpath stroke='%232C2C2C' stroke-linecap='square' stroke-width='2' d='m4.406 1.494 7.029.042m0 0 .042 7.029m-.042-7.03-9.9 9.9'/%3E%3C/svg%3E");
    }

  }

}

.btn--back {
  color: var(--white);

  span {
    border-bottom: 2px solid transparent;
  }

  &:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='14' fill='none'%3E%3Cpath stroke='%23ffffff' stroke-linecap='square' stroke-width='2' d='M6.941 12 2 7m0 0 4.941-5M2 7h14'/%3E%3C/svg%3E");    
    background-repeat: no-repeat;
    background-position: 0 -1px;
    background-size: cover;
    content: '';
    display: block;
    flex-shrink: 0;
    margin-right: 10px;
    height: 11px;    
    width: 14px;
  }

  &:after {
    display: none;
  }

  &:hover span {
    border-bottom-color: var(--white);
  }

}

.btn--no-icon {

  &:before,
  &:after {
    display: none;
  }
  
}



.btn--alt:hover {
  background-color: var(--white);
  color: var(--darkGrey);

  &:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' fill='none'%3E%3Cpath stroke='%232C2C2C' stroke-linecap='square' stroke-width='2' d='m4.406 1.494 7.029.042m0 0 .042 7.029m-.042-7.03-9.9 9.9'/%3E%3C/svg%3E");
    color: var(--darkGrey);
  }

}