
  
  // :root {
//   --wpforms-field-text-color: var(--midGrey) !important;
//   --wpforms-field-background-color: var(--form--input-bg-colour) !important;
//   --wpforms-field-border-color: var(--form--input-border-colour) !important;
//   --wpforms-field-border-radius: 0 !important;
// }

html {

  .wpforms-container {
    margin-top: 40px;
    margin-bottom: 60px;

    @include mq(desktop) {
      margin-bottom: 80px;
    }

    
    //== Confirmation message

    .wpforms-confirmation-container {
      background: var(--form-success);
      padding: 20px;
      
      p {
        color: var(--white);
        font-weight: var(--fw--700);
      }
        
    }

  }

  .form,
  .wpforms-container .wpforms-field-container {

    .wpforms-field {
      margin-bottom: 30px;
      padding: 0;
    }

    input,
    select,
    textarea,
    .form__input {
      background-color: var(--form--input-bg-colour);
      border: 1px solid var(--form--input-border-colour);
      font-size: var(--fs--base);
      max-width: none;
      padding: 0 20px;
      width: 100%;

      @include mq(desktop) {
        padding: 0 25px;
      }

      &:hover,
      &:focus,
      &:active {
        border-color: var(--form--input-hover-border-colour);
      }

      &::-webkit-input-placeholder {
        color: var(--form-placeholder-colour);
      }

      &::-moz-placeholder {
        color: var(--form-placeholder-colour);
      }

      &:-ms-input-placeholder {
        color: var(--form-placeholder-colour);
      }

      &:-moz-placeholder {
        color: var(--form-placeholder-colour);
      }

    }

    .form__input,
    input,
    select {
      height: var(--form-input-height);
    }

    textarea {
      height: var(--form-textarea-height);
      line-height: 1.5;
      padding-top: 20px;
      padding-bottom: 20px;
      resize: none;

      @include mq(desktop) {
        padding-top: 25px;
        padding-bottom: 25px;
      }

    }

    .wpforms-field-select {
      position: relative;

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
      }

      &:after {
        border-style: solid;
        border-width: 0.25em 0.25em 0 0;
        border-color: black;
        content: '';
        display: block;
        height: 10px;
        position: absolute;
        right: 20px;
        top: 18px;
        transform: rotate(135deg);
        transition: transform .1s ease-in-out;
        vertical-align: top;
        width: 10px;
        z-index: 1;

        @include mq(tablet) {
          top: 22px;
        }

      }

    }

    //== Error

    .wpforms-has-error {

      input,
      select,
      textarea {
        background: var(--form-error);
        border: none;
        color: var(--form-placeholder-error-colour);

        &::-webkit-input-placeholder {
          color: var(--form-placeholder-error-colour);
        }

        &::-moz-placeholder {
          color: var(--form-placeholder-error-colour);
        }

        &:-ms-input-placeholder {
          color: var(--form-placeholder-error-colour);
        }

        &:-moz-placeholder {
          color: var(--form-placeholder-error-colour);
        }

      }

    }

    em.wpforms-error {
      color: var(--form-error);
      font-size: var(--fs--base);
      margin-top: 10px;
    }

    

    /*.wpforms-error-container {  
      a { }  
    }*/

    .wpforms-field-container,
    .wpforms-recaptcha-container {

      label.wpforms-error {
        background: none;
        color: var(--form-error);
        font-size: var(--fs--base);
        margin-top: 10px;
      }

    }

  }

  // div.wpforms-container-full .wpforms-form .wpforms-submit-spinner {
  //   display: none !important;
  // }

}


@media only screen and (max-width: 767px) {
    
  html .wpforms-container {
      background: var(--white);
      box-shadow: var(--card--box-shadow);
      padding: 30px;
  }
  
}

@media only screen and (max-width: 600px) {
  div.wpforms-container .wpforms-form .wpforms-field:not(.wpforms-field-phone):not(.wpforms-field-select-style-modern):not(.wpforms-field-radio):not(.wpforms-field-checkbox):not(.wpforms-field-layout) {
    overflow: visible !important;
  }
}

// @media only screen and (max-width: 991px) {

//   html .wpforms-container .wpforms-field.wpforms-one-half {
//     float: none;
//     margin-inline: 0;
//     width: 100%;
//   }

// }
