.page-content {
  
  @include mq(tablet) {
    @include smallPanel(false);
    padding: 40px;
  }

  @include mq(desktop) {
    padding: 80px;
  }

  @include mq(full) {
    
  }
  
  p, li, th, td {

    &:last-child { margin-bottom:  0; }

    a:not([href^="tel:"]) {
      @include textLink;
      word-wrap: break-word;
    }

  }

  p {
    margin-bottom: 20px;

    @include mq(desktop) {
      line-height: 2;
      margin-bottom: 30px;
    }

  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;

    @include mq(desktop) {
      margin-bottom: 20px;
    }

  }

  p + h1,
  p + h2,
  p + h3,
  p + h4,
  p + h5,
  p + h6,
  ul + h1,
  ul + h2,
  ul + h3,
  ul + h4,
  ul + h5,
  ul + h6,
  ol + h1,
  ol + h2,
  ol + h3,
  ol + h4,
  ol + h5,
  ol + h6  {
    margin-top: 40px;

    @include mq(desktop) {
      margin-top: 60px;
    }

  }


  ol, ul {
    margin: 0 0 20px 40px;
    padding: 0;  

    li {
      margin-bottom: 5px;
    }

  }

  .video-container {
    margin-bottom: 30px;
    padding-bottom: 56.25%;
    position: relative;    

    @include mq(desktop) {
      margin-bottom: 60px;
    }

  }
  
  .video-container iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;    
    width: 100%;
  }

  // .table {
  //   max-width: 100%;
  //   overflow: auto;
  // }
  
  // table {
  //   border-collapse: collapse;
  //   border-spacing: 0;
  //   width: 100%;
  
  //   tr {
  //       padding: 0;
  //   }
  
  //   td {
  //       border: 1px solid #ccc;
  //       padding: 20px;
  //   }
    
  // }

}