.masthead {
  background-color: var(--darkGrey);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  height: var(--masthead-height);
  padding-bottom: inc_to_rem(3);
  position: relative;

  @include mq(tablet) {
    padding-bottom: inc_to_rem(4);
  }

  &:after { @include mask; }

  .container {
    justify-content: flex-end;
    height: 100%;
  }

  + .container {
    padding-block: inc_to_rem(4);

    @include mq(tablet) {
      padding-block: inc_to_rem(6);
    }

    @include mq(desktop) {
      padding-block: inc_to_rem(8);
    }
    
  }

  &__title {
    font-size: inc_to_rem(5);
    font-weight: var(--fw--700);
    line-height: inc_to_rem(6);

    @include mq(tablet-lg) {
      font-size: inc_to_rem(6);
      line-height: inc_to_rem(7);
    }

    @include mq(desktop) {
      font-size: inc_to_rem(8);
      line-height: inc_to_rem(9);
    }

    @include mq(desktop-lg) {
      font-size: inc_to_rem(9);
      line-height: inc_to_rem(10);
      // margin-bottom: inc_to_rem(2);
    }

  }

  &__body {
    font-size: inc_to_rem(2);
    line-height: inc_to_rem(3);

    @include mq(tablet-lg) {
      font-size: inc_to_rem(3);
      line-height: inc_to_rem(4);
    }

    @include mq(desktop) {
      line-height: inc_to_rem(5);
    }

    a:not([href^="tel:"]) { @include textLink(var(--white)); }

  }  
  
}