.masthead {
  background-color: var(--darkGrey);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  height: var(--masthead-height);
  padding-bottom: 20px;
  position: relative;

  @include mq(desktop) {
    padding-bottom: 30px;
  }

  &:after { @include mask; }

  .container {
    justify-content: flex-end;
    height: 100%;

    @include mq(desktop) {    
      align-items: flex-end;
      flex-direction: row;
      justify-content: space-between;
    }
    
  }

  h1 {
    @include mq(desktop-lg) {
      font-size: 50px;
    }
    @include mq(full) {
      font-size: 58px;
    }
  }

  &__back {
    margin-top: 10px;

    @include mq(desktop) {
      align-self: flex-end;      
      margin-top: 0;
      margin-bottom: 15px;
    }

    @include mq(desktop-md) {
      margin-bottom: 20px;
    }

  }

  // + .container {
  //   padding-block: 30px;

  //   @include mq(tablet) {
  //     padding-block: 50px;
  //   }

  //   @include mq(desktop) {
  //     padding-block: 130px;
  //   }
    
  // }
  
}