.site-footer {
  background: var(--footer-bg);
  color: var(--footer-colour);
  flex-shrink: 0;
  padding: 60px 0 30px;

  @include mq(desktop) {
    padding-top: 80px;
  }

  p a,
  .menu-item a {
    @include textLink(var(--footer-link-colour), var(--footer-link-hover-colour));
  }

  .container {
    display: grid;
    gap: 40px;

    @include mq(tablet) {
      gap: 60px 40px;
    }

    @include mq(tablet-lg) {
      gap: 60px 40px;
      grid-template-columns: repeat(3, 1fr);
    }

    @include mq(desktop) {
      gap: 100px 80px;
      grid-template-columns: 1fr 250px 1fr 1fr;
    }

  }

  &__logo {
    display: block;
    height: auto;
    margin-bottom: 20px;
    width: 60px;

    @include mq(tablet-lg) {      
      width: 100px;
    }

    img {
      height: auto;
      width: 100%;
    }

  }
  
  &__col {

    &--first {

      @include mq(tablet) {
        grid-column: 1 / 4;      
      }

      @include mq(desktop) {
        grid-column: 1 / 2;
      }

    }
    
    &--navigate {

      @include mq(tablet) {
        grid-column: 1 / 2;      
      }

      @include mq(desktop) {
        grid-column: 2 / 3;
      }

    }

    &--contact {

      @include mq(tablet) {
        grid-column: 2 / 3;
      }

      @include mq(desktop) {
        grid-column: 3 / 4;
      }

      p {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }

      }

    }

    &--donate {

      @include mq(tablet) {
        grid-column: 3 / 4;
      }

      @include mq(desktop) {
        grid-column: 4 / 5;
      }

    }

  }

  &__heading {
    margin-bottom: 10px;

    @include mq(desktop) {
      margin-bottom: 30px;
    }

  }

  &__donate-btn {
    margin-top: 20px;
  }

}


//== Footer Social

.footer-social {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, 50px);
  list-style: none;
  margin: 20px 0 0;
  padding: 0;

  @include mq(tablet-lg) {
    margin-top: 30px;
  }

  &__link {
    display: block;
    line-height: var(--lh--1);

    svg {
      fill: var(--footer-link-colour);
      height: 50px;
      width: 50px;
    }

  }

}


//== Footer Links

.site-footer-links {
  @include basicList;

  .menu-item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

  }

  .current-menu-item,
  .current_page_parent {

    a {
      border: none;
      font-weight: var(--fw--400);
    }

  }

  &--inline {

    @include mq(tablet-lg) {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
    
    li {
      display: inline-block;
      margin-right: 20px;
    }

  }

}


//== Footer Bottom

.site-footer-bottom {
  display: grid;
  gap: 20px;

  @include mq(tablet) {
    gap: 10px;
    grid-column: 1 / 4;
  }

  @include mq(tablet-lg) {
    gap: 20px;
    grid-column: 1 / 4;
    grid-row: 3 / 4;    
  }

  @include mq(desktop) {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    grid-template-columns: auto auto;    
    justify-content: space-between;
  }

}