.instagram-panel {
  padding: var(--block-padding) 0 0;
  text-align: center;

  @include mq(tablet) {
    padding-bottom: var(--block-padding);
  }

  &__title {
    @include blockTitle;
  }

  &__content {
    @include blockIntro;
  }

  + .gallery {
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

}

.instagram-feed {
  margin: inc_to_rem(2) (-(inc_to_rem(2))) -6px;

  @include mq(tablet) {
    margin: inc_to_rem(2) 0 0;
  }

  .FeedLayout__wrapper {
    background: none !important;
    padding: 0 !important;
  }

  .FeedGridLayout__grid {
    grid-gap: 0 !important;

    @include mq(tablet) {
      grid-gap: inc_to_rem(2) !important;
    }

    @include mq(desktop) {
      grid-gap: inc_to_rem(4) !important;
    }

  }

  .FeedGridLayout__cell-content {

    @include mq(tablet) {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
      overflow: hidden;
    }

  }

}