.banner-alert {
    background: var(--kh-red);
    color: var(--white);
    font-size: var(--fs--base);
    font-weight: var(--fw--700);
    margin: 0;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;

    @include mq(full) {
        font-size: var(--fs--p-large);
        margin: 15px 0;
    }

}
