.function-menus {
  padding: var(--block-padding) 0;

  &__title {
    @include blockTitle;
    text-align: center;
  }

  &__body {
    @include blockIntro;
    text-align: center;
  } 
  
  .menu-list {
    padding:  0;
  }

}